@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.main {
  min-height: 100vh;
  width: 100%;
  /*padding: 4rem 0;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 2%; */
    padding-left: 3%;
    padding-right: 3%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerH1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 42px;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.register {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  color: #3585FE;
  width: auto;
  margin-right: 15%;
  cursor: pointer;
}

.login {
  margin-right: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  color: #FFFFFF;
  width: 100%;
  background-color: #3591FE;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.section1 {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  padding: 10px 0 0 10px;
  height: auto;
  width: auto;
}

.section2 {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  justify-content: space-between;
  padding: 0;
  padding-top: 90px;
  margin: 0;
  height: auto;
  width: 100%;
}

.section1Desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 45%;
}

.btnStart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 26%;
  background-color: #0070f3;
  height: 44px;
  padding: 0 8px 0 10px;
  border-radius: 10px;
}

.btnStart i {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.btnStart span {
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 42px;
  color: #FFFFFF;
}

.pointWrapper {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointWrapper h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 42px;
  color: #233146;
  padding-bottom: 0;
  margin-bottom: 6%;
}

.line {
  margin-top: 0;
  padding-top: 0;
  width: 151px;
  height: 2px;
  border: 2px solid #3585FE;
  border-radius: 2px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #0070f3;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  padding: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 102px;
  color: #233146;
  width: 80%;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  color: #9AA0A7;
  font-size: 1.4rem;
  width: 65%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 30px auto;
  height: auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 35%;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #283748;
}

.card p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 66px;
  text-align: center;
  color: #647181;
}

.socialMedia i {
  color: #0070f3;
  font-size: 2rem;
  padding: 1.1rem;
}

.sign {
  margin: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  color: #0070f3;
  border: 1px solid#0070f3;
  border-radius: 10px;
  transition: color 0.15s ease, #eaeaea 0.15s ease;
}

.sign:hover,
.sign:focus,
.sign:active {
  color: #292b2e;
  border-color: #eaeaea;
}

.footerTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #292b2e;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.containerLandingImg {
  width: auto;
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.landingImage {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: #0070f3;
}

.landingImageTitle {
  margin-top: 10%;
  margin-bottom: 8%;
  border: 3px solid#0070f3;
  border-radius: 20%;
}

.landingImageTitle h3 {
  line-height: 1.11;
  font-size: 3rem;
  background-color: #0070f3;
  padding: 1rem;
  border: 2px solid#0070f3;
  border-radius: 20%;
}

.landingImageTitle:focus,
.landingImageTitle:hover {
  border-color: #3F3D56;
}

.landingImageTitle h3:focus,
.landingImageTitle h3:hover {
  border-color: #3F3D56;
}


.point {
  border: 1px solid #0070f3;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0070f3;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 3px, 0);
    }
    to {
        transform: translate3d(0, 29px, 0);
    }
}

.sectionMain {
  display: flex;
  flex-direction: row;
}

.imgSt {
  position: absolute;
  inset: 0px !important;
  box-sizing: border-box !important;
  padding: 0px !important;
  border: none !important;
  margin: 0 auto;
  top: -60% !important;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.cadre {
  color: #FFFFFF;
}
