.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-modal {
    background: white;
    width: 48%;
    height: 58vh;
    border-radius: 16px;
}

.header-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: #292B2E;
}

.header-modal i {
    font-size: 21px;
}

.close-modal {
    width: 12px;
    height: 12px;
}

.title-modal {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
}

.body-modal {
    display: flex;
    padding-top: 10px;
}
